*~
vendor
.bundle
latexed
Gemfile.lock
.ruby-version

# Latex generation files
*.log
*.glo*
*.gls*
*.glg*
*.alg
*.aux
*.ist
*.lof
*.lot
*.mtc-*
*.out
*.pdf
*.run.xml
*.fls
*.fdb_latexmk
*.toc
*.synctex.gz
*.blg
*.bcf
*.bbl
*.acr
*.acn
auto
